{% extends "admin/chefs/layout.njk" %}

{% block title %}
    <title> Editando chef </title>
{% endblock title %}

{% block content %}

<div class="card">
    <form class="card" method="POST" action="/admin/chefs?_method=PUT" enctype="multipart/form-data">

        <h3> Editando chef </h3>
        <button class="buttons" id="save-edit" type="submit">Salvar chef</button>
        
        {% include 'admin/chefs/fields.njk' %}
        
        <input 
            type="hidden" 
            name="id" 
            value="{{chef.id}}"
        >

        <input id="recipes-total"
            type="hidden" 
            name="total_recipes" 
            value="{{chef.total_recipes}}"
        >
    </form>

    <form class="form-delete" action="/admin/chefs?_method=DELETE" method="post">
        <input 
            type="hidden" 
            name="id" 
            value="{{chef.id}}"
        >
        <button class="buttons" type="submit">Deletar</button>
    </form>

    {% include "./delete-chef.njk"%}

</div>

    

    

{% endblock content %}