{% extends "admin/chefs/layout.njk" %}

{% block title %}
    <title> Chefs </title>
{% endblock title %}

{% block content %}

    <section class="menu menu-admin">

        <h3>Gerenciar chefs</h3>
        <div class="menu-container-admin-chef">

            {% for chef in chefs %}
            <div class="chef-container-admin" id="">
                <div class="chef-img-admin">
                    <img src="{{chef.img}}" alt="{{chef.name}}">
                </div>
                <div class="chef-info" id="">
                    <h3 class="chef-name">{{chef.name}}</h3>
                    <a class="button-visualizar-chefs" href="/admin/chefs/{{chef.id}}">Visualizar</a>
                </div>
            </div>    
            {% endfor %}
    
        </div>

    </section>
        
        
{% endblock content %}
