<section class="order-success">


    <h2>Chefe cadastrado com sucesso!</h2>
    <div class="success-lottie"></div>

    <p>Agora você pode cadastrar receitas para esse chefe. Que tal?!</p>

    <a href="/admin/recipes">Voltar para o sistema e cadastrar nova receita</a>


</section>

<script src="/lottie.min.js"></script>

<script>
    const element = document.querySelector('.success-lottie')

    lottie.loadAnimation({
    container: element,
    renderer: 'svg',
    loop: true,
    autoplay: true,
    path: '/45729-chef-animation.json'
    });
</script>

{% include "../../styles.njk"%}