<div class="header-menu">
    <div class="logo"> <a href="/"><img src="/images/logo.png" alt="logo"></a></div>
    <div class="header-links"> 
        <ul class="header-list">
                <li><a href="/about">{% block idAbout %}Sobre{% endblock idAbout %}</a></li>
                <li><a href="/recipes">{% block idRecipes%}Receitas{% endblock idRecipes %}</a></li>
                <li><a href="/chefs">{% block idChefs%}Chefs{% endblock idChefs %}</a></li>

            </ul>
        </div>
</div>
