
<div class="item_title">Nome</div>
<div class="item">
  <div>
    <input type="text" name="name" value="{{chef.name}}">
  </div>
</div>

<div class="item_title">Avatar</div>
<div class="item">
    <div>
        <input type="url" name="image"
        value = "{{chef.image}}"
        >
    </div>
</div>
