 @import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}
.header-menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 100px;

}
.header-list a {
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    margin: 0 20px;
}

#sobre {
    font-weight: bold;
    display: inline;
}

#receitas {
    font-weight: bold;
    display: inline;
}



.links {
    padding: 5px;
}

.header-list li {
    display: inline;
    list-style: none;

}



header{
    width: 940px;
    display: flex;
    margin: 28px auto;
    

}
.banner {
    background: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    margin: 28px auto;
}

.banner-content {
    display: flex;
    position: relative;
}

.banner img {
    position: absolute;
    top: 66px;
    right: 100px;  
}

.header-menu img:hover {
    filter: brightness(1000%)
}
.banner h1{
    position: absolute;
    width: 305px;
    height: 38px;
    font-size: 32px;
    color: #111111;
    top: 117px;
    bottom: 211px; 
    left: 60px;
}

.banner p{
    position: absolute;
    width: 316px;
    height: 81px;
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    top: 165px;
    bottom: 211px; 
    left: 60px;
}

body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

footer {
    background: #EEEEEE;
    height: 62px;
    width: 100%;
    margin-top: 28px;
}


footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 20px;
    font-family: Roboto-Regular;
}

 /* ===== MENU ==== */

 
 .menu {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 70px;
 }

 .menu h2 {
    font-size: 24px;
    color: #111111;
    margin-top: 50px;
    margin-bottom: 20px;
 }

 .products-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
 }

.option-img img {
    border-radius: 15px;
    width: 300px;
    height: 140px;
 }  

 .option-img:hover {
    filter: brightness(80%);
    cursor: pointer;
 }  

 .option-info h3 {
    font-size: 18px;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 400;
 }

 .option-info p{
    font-size: 14px;
    color: #777777;
}

/* ==== PAGINA SOBRE ==== */

.texts {
    width: 940px;
    margin: 0 auto;
}

.text-container {
    height: 280px;
    line-height: 28px;
}

.texts h2 {
    margin-bottom: 20px;
}

.texts p {
    font-size: 18px;
    color: #444444;
}
#text-receitas {
    margin-bottom: 50px;
}

.text-container-final {
    line-height: 28px;
}

#titulo-sobre {
    margin-top: 50px;
}

/* ===== RECEITAS ===== */

#menu-receitas {
    margin-top: 50px;
}



.titulo {
    font-size: 24px;
    color: #111111;
    text-align: center;
    position: absolute;
    top: 250px;
    /* left: 164px;
    right: 164px; */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;

}

.autor {
    font-size: 18px;
    color: #777777;
    text-align: center;
    position: absolute;
    top: 283px;
    bottom: 109px;
    /* left: 257px;
    right: 257px; */
    font-family: 'Roboto', sans-serif;
    width: 100%;
    margin: 0 auto;


}
/* ===== PAG DETALHES DA RECEITA ====== */
.detail-container {
    position: relative;
    width: 940px;
    margin: 0 auto;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;

}

.ingredients-bottom, .preparation-bottom {
    cursor: pointer;
}

.ingredients-list.desactive {
    display: none;
}

.preparation-list.desactive {
    display: none;
}

.banner-image img {
    border-radius: 15px;
    height: 230px;
    width: 940px;
}

.banner-info h1 {
    font-family: Roboto-Bold;
    font-size: 36px;
    color: #111111;
    text-align: center;
    margin-top: 50px;
}

.banner-info h2 {
    font-family: Roboto-Regular;
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 4px;
}

.banner-info h1 {
    font-family: Roboto-Bold;
    font-size: 36px;
    color: #111111;
    text-align: center;
    margin-top: 50px;
}

.banner-info h2 {
    font-family: Roboto-Regular;
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-top: 4px;
}

.title {
    margin-bottom: 20px;
    margin-top: 50px;

}

.title h3 {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    display: inline;

}

.title p {
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #999999;
    display: inline;
    margin-left: 8px;


}