 /* === IMPORTAÇÃO === */
 
 @import "https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap";

/* === "ZERANDO" === */
* {
    margin: 0;
    padding: 0;
    border: 0;
    text-decoration: none;
}

 /* === HEADER === */

header{
    width: 940px;
    display: flex;
    margin: 28px auto;
}

.header-menu {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 100px;

}

.header-links {
    padding: 5px;
}

.header-list a {
    font-size: 16px;
    color: #111111;
    text-decoration: none;
    margin: 0 20px;
}

.header-list li {
    display: inline;
    list-style: none;
}

.header-menu img:hover {
    filter: brightness(1000%)
}

#header-about {
    font-weight: bold;
    display: inline;
}

#header-recipes {
    font-weight: bold;
    display: inline;
}

/* === BODY === */
body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
}

/* === FOOTER === */
footer {
    background: #EEEEEE;
    height: 62px;
    width: 100%;
    margin-top: 28px;
}

footer p {
    font-size: 14px;
    color: #999999;
    text-align: center;
    padding: 20px;
    font-family: Roboto-Regular;
}

/* === BANNER === */

.banner {
    background: #FBDFDB;
    border-radius: 30px;
    width: 940px;
    height: 366px;
    margin: 28px auto;
}

.banner-content {
    display: flex;
    position: relative;
}

.banner h1{
    position: absolute;
    width: 305px;
    height: 38px;
    font-size: 32px;
    color: #111111;
    top: 117px;
    bottom: 211px; 
    left: 60px;
}

.banner img {
    position: absolute;
    top: 66px;
    right: 100px;  
}

.banner p{
    position: absolute;
    width: 316px;
    height: 81px;
    opacity: 0.7;
    font-size: 18px;
    color: #000000;
    line-height: 28px;
    top: 165px;
    bottom: 211px; 
    left: 60px;
}

 /* ===== MENU ==== */

 .menu {
    width: 940px;
    margin: 0 auto;
    margin-bottom: 70px;
 }

 .menu h2 {
    font-size: 24px;
    color: #111111;
    margin-top: 50px;
    margin-bottom: 20px;
 }

 .menu-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    
 }

.recipe-img img {
    border-radius: 15px;
    width: 300px;
    height: 140px;
 }  

 .recipe-img:hover {
    filter: brightness(80%);
    cursor: pointer;
 }  

 .recipe-info h3 {
    font-size: 18px;
    color: #111111;
    margin-top: 20px;
    margin-bottom: 5px;
    font-weight: 400;
 }

 .recipe-info p{
    font-size: 14px;
    color: #777777;
}

#menu-recipes {
    margin-top: 50px;
}


/* ==== TEXTS ABOUT ==== */ 

.texts {
    width: 940px;
    margin: 0 auto;
}

.text-container {
    height: 280px;
    line-height: 28px;
}

#title-about {
    margin-top: 50px;
}

.texts h2 {
    margin-bottom: 20px;
}

.texts p {
    font-size: 18px;
    color: #444444;
}

.text-container-final {
    margin-bottom: 50px;
    line-height: 28px;
}

/* ===== PAGE RECIPE ====== */
.detail-container {
    position: relative;
    width: 940px;
    margin: 0 auto;
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #444444;
    line-height: 28px;

}

.banner-image img {
    border-radius: 15px;
    height: 230px;
    width: 940px;
}

.banner-info h1 {
    font-family: Roboto-Bold;
    font-size: 36px;
    color: #111111;
    text-align: center;
    margin-top: 50px;
}

.banner-info h2 {
    font-family: Roboto-Regular;
    font-size: 20px;
    color: #777777;
    text-align: center;
    margin-bottom: 50px;
    margin-top: 4px;
}

.title {
    margin-bottom: 20px;
    margin-top: 50px;

}

.title h3 {
    font-family: Roboto-Bold;
    font-size: 24px;
    color: #111111;
    display: inline;

}

.title p {
    font-family: Roboto-Bold;
    font-size: 12px;
    color: #999999;
    display: inline;
    margin-left: 8px;

}

/* BOTTOM ESCONDER e MOSTRAR */
.ingredients-bottom, .preparation-bottom, .info-bottom{
    cursor: pointer;
}

.ingredients-list.desactive {
    display: none;
}

.preparation-list.desactive {
    display: none;
}

.information.desactive {
    display: none;
}

/* ============ STYLES ADMIN ==============*/ 


 /* === HEADER === */

.header-admin {
    margin: 0 auto;
    background-color: black;    
    width: 100%;
    height: 80px;
    align-items: center;
}
.logo-admin {
    /* position: absolute; */
    width: 940px;
    margin: 0 auto;
}
.logo-admin a img:hover {
    filter: brightness(60%)
}

 /* === FORMULÁRIO === */

.card {
    width: 940px;
    margin: 0 auto;
    position: relative;
 }
.card h3 {
    font-family: Roboto-Bold;
    font-size: 24px;
    margin-top: 55px;
 }

 
.item_title {
    padding-bottom: 10px;
    padding-top: 30px;
}

.item div:nth-child(1){
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 49px;
    padding: 2px;
}

#ingredients, #preparations {
    min-height: 49px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
}


input, textarea {
    width: 100%;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #111111;
    line-height: 24px;
    height: 100%;
}

.last-item div:nth-child(1) {
    height: 257px;
}

.add-ingredient, .add-preparation {
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #6558C3;
    background: white;
    padding-top: 15px;
    cursor: pointer;
}

.buttons {
    position: absolute;
    right: 0;
    top: 55px;
    background: #6558C3;
    border-radius: 4px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 9px 20px;
    cursor: pointer;
}

 /* === DETALHES RECEITA === */

 .detail-container > h3 {
    display: inline-block;
    box-sizing: border-box;
    margin: 55px 0 20px;
 }

a#button-edit {
    padding: 3px 20px;
    top: 50px;
 }

#form-delete button[type = "submit"] {
    background: #DC4747;
    margin-right:  189px;
}

#save-edit {
    top: 0px;
}

 /* === LISTAR RECEITAS === */


 .menu-container-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
 }

 .menu-admin > h3 {
     margin-top: 50px;
     margin-bottom: 30px;
 }

 .recipe-img-admin img {
    border-radius: 8.57px;
    width: 300px;
    height: 140px;
 }

 .button-visualizar {
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #6558C3;
    margin-top: 5px;
    cursor: pointer;
    background: transparent;
 }