{% extends "site/layout.njk" %}

{% block title %}
    <title> Chefs </title>
{% endblock title %}

{% block idChefs %}
        <div>Chefs</div>
{% endblock idChefs %}

{% block content %}

    <section class="menu">

        <div class="menu-container-chef">

            {% for chef in chefs %}
                <div class="chef-container" id="">
                    <div class="chef-img">
                        <img src="{{chef.img}}" alt="{{chef.name}}">
                    </div>
                    <div class="chef-info" id="">
                        <h3 class="chef-name">{{chef.name}}</h3>
                        <p class="total_recipes">{{chef.total_recipes}} receitas</p>
                    </div>
            </div>    
            {% endfor %}
    
        </div>

    </section>
        
        
{% endblock content %}
