{% extends "site/layout.njk" %}

{% block title %}
    <title> Home </title>
{% endblock title %}

{% block header %}
    <div class="header">
        <form action="/search" method="GET">

            <input 
                type="text"
                name="filter"
                placeholder="Buscar uma receita "
                value="{{filter}}"
            >
            <button type="submit">Buscar</button>

        </form>
    </div>

{% endblock header %}

{% block content %}

    <section class="banner"> 
        <div class="banner-content">

            <h1>{{home.title}}</h1>
            <img src="{{home.img}}" alt="Chef" id="chef">
            <p>{{home.text}}</p>

        </div>

    </section>


    <section class="menu">
        <h2>{{home.subTitle}}</h2>

        <div class="menu-container">

            {% for item in items %}
            
                <div class="recipe-container" id="">
                    <div class="recipe-img">
                        <a href="/recipe/{{item.id}}"><img src="{{item.img}}" alt="{{item.title}}"></a>
                    </div>
                    <div class="recipe-info">
                        <h3 class="recipe-title">{{item.title}}</h3>
                        <p class="recipe-autor">por {{item.chef_name}}</p>
                    </div>
                </div>

            {% endfor %}

        </div>


    </section>

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>

    <script src="/scripts/pagination.js"></script>

{% endblock content %}

