{% extends "site/layout.njk" %}
{% import "./parts/section-recipes.njk" as section %}


{% block title %}
    <title> Home </title>
{% endblock title %}

{% block header %}
    <div class="header">
        <form action="/search" method="GET">

            <input 
                type="text"
                name="filter"
                placeholder="Buscar uma receita "
                value="{{filter}}"
            >
            <button type="submit">Buscar</button>

        </form>
    </div>

{% endblock header %}

{% block content %}

    <section class="banner"> 
        <div class="banner-content">

            <h1>As melhores receitas</h1>
            <img src="images/chef.png" alt="Chef" id="chef">
            <p>Aprenda a construir os melhores pratos com receitas criadas por profissionais do mundo inteiro.</p>

        </div>

    </section>

    {{section.recipes('Mais Acessadas', '' , '', '', items)}}    

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>

    <script src="/scripts/pagination.js"></script>

{% endblock content %}

