<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    
    {% include "../styles.njk"%}

    {% block title %}
    {% endblock title %}

</head>

<body>

    <header>
        {% include "./parts/header.njk"%} 

        {% block header %}
        {% endblock header %}
    </header>

        {% block content %}
        {% endblock content %}

    <footer>
        {% include "./parts/footer.njk"%}
    </footer>


</body>


</html>