<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/styles.css">

    {% block title %}
    {% endblock title %}

</head>

<body>
    <header>
        <div class="header-menu">
            <div class="logo"> <a href="/"><img src="/logo.png" alt="logo"></a></div>
            <div class="header-links"> 
                <ul class="header-list">
                        <li><a href="/about">{% block idAbout %}Sobre{% endblock idAbout %}</a></li>
                        <li><a href="/recipes">{% block idRecipes%}Receitas{% endblock idRecipes %}</a></li>
                        <li><a href="/chefs">{% block idChefs%}Chefs{% endblock idChefs %}</a></li>

                    </ul>
                </div>
        </div>

        {% block header %}
        {% endblock header %}
    </header>

    {% block content %}
    {% endblock content %}
   
   
    <footer>
        <p>Todos os diretos reservados, receitas Foodfy.</p>
    </footer>
   
    <script src="/scripts.js"></script>

</body>


</html>