{% extends "site/layout.njk" %}
{% import "./parts/section-recipes.njk" as section %}


{% block title %}
    <title> Receitas </title>
{% endblock title %}

{% block idRecipes %}
        <div>Receitas</div>
{% endblock idRecipes %}

{% block header %}
    <div class="header">
        <form action="/search" method="GET">

            <input 
                type="text"
                name="filter"
                placeholder="Buscar uma receita "
                value="{{filter}}"
            >
            <button type="submit">Buscar</button>

        </form>
    </div>

{% endblock header %}


{% block content %}

    {{section.recipes('', '' , 'menu-recipes', '', items)}} 


    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>

    <script src="/scripts/pagination.js"></script>


{% endblock content %}
