{% extends "site/layout.njk" %}

{% block title %}
    <title> Busca </title>
{% endblock title %}

{% block idRecipes %}
        <div id="header-recipes">Receitas</div>
{% endblock idRecipes %}

{% block header %}
    <div class="header">
        <form action="/search" method="GET">

            <input 
                type="text"
                name="filter"
                placeholder="Buscar uma receita "
                value="{{filter}}"
            >
            <button type="submit">Buscar</button>

        </form>
    </div>

{% endblock header %}


{% block content %}


    <section class="menu" id="menu-recipes">

        <h3>Buscando por</h3>

        <div class="menu-container">
        {% for item in items %}
        
            <div class="recipe-container" id="">
                <div class="recipe-img">
                    <img src="{{item.image}}" alt="">
                </div>
                <div class="recipe-info" id="">
                    <h3 class="recipe-title">{{item.title}}</h3>
                    <p class="recipe-author">{{item.author}}</p>
                </div>
            </div>

        {% endfor %} 
        

        </div>

    </section>

{% endblock content %}
