<div class="header-admin-menu">
    <div class="logo-admin">
        <a href="/admin/recipes"><img src="/images/logo-admin.png" alt="logo"></a>
    </div>
    <div class="header-links-admin"> 
        <ul class="header-list-admin">
            <li><a href="/admin/recipes">RECEITAS</a></li>
            <li><a href="/admin/chefs">CHEFS</a></li>
            <li><a href="/admin/users">USUÁRIOS</a></li>
            <li><a href="/admin/profile">MEU PERFIL</a></li>
            <li><form action="/admin/users/logout" method="POST"><button>SAIR</button></form></li>
        </ul>
    </div>
</div>