/* =========================== STYLES ADMIN ==================================*/ 


 /* === HEADER === */

 .header-admin {
    margin: 0 auto;
    background-color: black;    
    width: 100%;
    height: 80px;
    display: flex;
}
.header-admin-menu {
    display: grid;
    grid-template-columns: .0fr auto;
    align-items: center;
    gap: 50px;
    width: 940px;
    margin: 0 auto;
}

.header-list-admin li{
    display: inline;
    list-style: none;
    margin-left: 30px;
}

.header-list-admin li a {
    font-family: Roboto-Bold;
    font-size: 15px;
    color: #999999;
}

.header-list-admin li:nth-child(4) {
    position: absolute;
    margin-left: 470px;
}

.logo-admin {
    margin: 0;
}

.logo-admin img {
    width: 90px;
    height: 26px;
}

.logo-admin a img:hover {
    filter: brightness(60%)
}

.header-list-admin li a.active {
    font-weight: bold;
    color: white;
}

.header-list-admin li a {
    position: relative;
}
.header-list-admin li a::after {
    content: "";
    width: 0;
    height: 2px;
    background-color: white;
    position: absolute;
    left: 0;
    bottom: -4px;
}

.header-list-admin li a:hover::after {
    width: 100%;
    transition: width 200ms ease-in-out 30ms;
}


 /* === FORMULÃRIO === */

.card {
    width: 940px;
    margin: 0 auto;
    position: relative;
 }
.card h3 {
    font-family: Roboto-Bold;
    font-size: 24px;
    margin-top: 55px;
 }

 
.item_title {
    padding-bottom: 10px;
    padding-top: 30px;
}

.item div:nth-child(1){
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    height: 49px;
    padding: 2px;
}

.ingredient, .preparation {
    min-height: 49px;
    border: 1px solid #DDDDDD;
    border-radius: 4px;
    margin-top: 8px;
}


.item input, textarea {
    width: 100%;
    outline: none;
    font-family: Roboto-Regular;
    font-size: 16px;
    color: #111111;
    line-height: 24px;
    height: 100%;
}

.last-item div:nth-child(1) {
    height: 257px;
}

.add-ingredient, .add-preparation {
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #6558C3;
    background: white;
    padding-top: 15px;
    cursor: pointer;
    outline: none;
}

.remove-ingredient, .remove-preparation{
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #DC4747;
    background: white;
    padding-top: 15px;
    cursor: pointer;
    outline: none;
    margin-left: 8px;
}

.buttons {
    position: absolute;
    right: 0;
    top: 55px;
    background: #6558C3;
    border-radius: 4px;
    font-family: Roboto-Bold;
    font-size: 16px;
    color: #FFFFFF;
    padding: 9px 20px;
    cursor: pointer;
    outline: none;

}

.select-chef {
    width: 100%;
    outline: none;
}


/* === PHOTOS UPLOAD === */

form .recipe_file #photo-add {
    display: grid;
    grid-template-columns: 1fr 5fr;
}


form .recipe_file #photos-upload {
    position: relative;

    display: block;
    overflow: hidden;
    width: 149px;
    height: 149px;

    cursor: pointer;

    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3.5px;
}

form .recipe_file #photos-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

form .recipe_file #photos-upload  i {

    display: flex;
    width: 100%;
    height: 100%;
    color: #999999;
    font-size: 48px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
}

form .recipe_file #photos-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
    width: 100%;
}

form .recipe_file #photos-preview  img {
    width: 149px;
    height: 149px;
    object-fit: cover;
}

#photos-preview .photo {
    position: relative;

}

#photos-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);

    color: rgba(255, 0, 0, 0.514);

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

#photos-preview  .photo:hover i {
    opacity: 1;
}

/* PHOTOS APRESENTATION GALLERY */

.detail-container .gallery-preview {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;

    position: absolute;
    right: 0;

}

.detail-container .gallery-preview img {
    height: 50px;
    width: 50px;

    object-fit: cover;

    opacity: 0.6;
    cursor: pointer;
    transition: 200ms;

}

.banner-detail .gallery-preview img:hover,
.banner-detail .gallery-preview img.active {
    opacity: 1;
}


/* ==== AVATAR CHEF ==== */

form .avatar-file {
    display: flex;
}

form #avatar {
    position: relative;

    display: block;
    overflow: hidden;
    width: 139px;
    border-radius: 4px; 
    cursor: pointer;

}

form #avatar p {
    background: #6558C3;
    padding: 8px 12px;
    text-align: center;
    font-size: 16px;
    color: #FFFFFF;
    box-sizing: border-box;
}

form #avatar #avatar-input {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    overflow: hidden;
    width: 100%;
    height: 100%;
    opacity: 0;
    cursor: pointer;
}

form .avatar-file #avatar-preview  img {
    width: 149px;
    height: 149px;
    object-fit: cover;
}

form .avatar-file #avatar-preview {
    display: flex;
    width: 100%;
}

.avatar-file #avatar-preview .photo {
    position: relative;

}

.avatar-file #avatar-preview .photo i {
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(255, 255, 255, 0.8);

    color: rgba(255, 0, 0, 0.514);

    width: 100%;
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 300%;
    cursor: pointer;

    transition: opacity 200ms;

    opacity: 0;
}

.avatar-file #avatar-preview  .photo:hover i {
    opacity: 1;
}


 /* === DETALHES RECEITA === */

 .detail-container > h3 {
    display: inline-block;
    box-sizing: border-box;
    margin: 55px 0 20px;
 }

a#button-edit {
    padding: 3px 20px;
    top: 50px;
 }

.form-delete button[type = "submit"] {
    background: #DC4747;
    margin-right:  150px;
}

#save-edit {
    top: 0px;
}

 /* === LISTAR RECEITAS === */


 .menu-container-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
 }

 .menu-admin > h3 {
     margin-top: 50px;
     margin-bottom: 30px;
 }

 .recipe-img-admin img {
    border-radius: 8.57px;
    width: 172px;
    height: 80px;
 }

 .button-visualizar, .button-visualizar-chefs {
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #6558C3;
    margin-top: 5px;
    cursor: pointer;
    background: transparent;
    outline: none;

 }

 .recipe-container-admin {
     display: grid;
     grid-template-columns: 0.1fr 1fr;
     gap: 20px;
 }

 .recipe-container-admin .recipe-info h3 {
     margin-top: 0;
 }

 .item_title {
    font-weight: bold;
}

 /* === LISTAR CHEFS === */


 .menu-container-admin-chef {
     display: grid;
     grid-template-columns: 1fr 1fr 1fr 1fr;
     gap: 40px;
 }

 .chef-img-admin img {
    border-radius: 50%;
    width: 64px;
    height: 64px;
 }

 .chef-info h3 {
    font-family: Roboto-Regular;
    font-size: 18px;
    color: #111111;
    font-weight: normal;
    min-width: 156px;
 }

 .chef-container-admin {
    display: grid;
    grid-template-columns: 0.1fr 1fr;
    gap: 20px;
    align-items: center;
}

 /* === DETALHES CHEF === */

.banner-image-chef {
    display: flex;
    flex-direction: column;
    align-items: center;
}
 .banner-image-chef img {
    height: 200px;
    width: 200px;
    border-radius: 50%;
 }