@keyframes hidemessage {
    to {
        right: -50px;
        opacity: 0;
    }
}


.messages {
    display: flex;
    justify-content: center;
    padding: 16px;
    position: absolute;
    top: 72px;
    height: 25px;
    border-radius: 4px;
    color: white;
    right: 0px;
    opacity: 1;

    animation: hidemessage 400ms 5s ease-out forwards;

}
.messages.error {
    background: #DC4747;
}   

.messages.success {
    background: #01B12A;
}   