/* === DETALHES RECEITA === */

.detail-container > h3 {
    display: inline-block;
    box-sizing: border-box;
    margin: 55px 0 20px;
 }

a#button-edit {
    padding: 3px 20px;
    top: 50px;
 }

.form-delete button[type = "submit"] {
    background: #DC4747;
    margin-right:  150px;
}

#save-edit {
    top: 0px;
}

 /* === LISTAR RECEITAS === */


 .menu-container-admin {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-top: 72px;

 }

 .recipe-img-admin img {
    border-radius: 8.57px;
    width: 172px;
    height: 80px;
 }

 .button-visualizar, .button-visualizar-chefs {
    font-family: Roboto-Bold;
    font-size: 14px;
    color: #6558C3;
    margin-top: 5px;
    cursor: pointer;
    background: transparent;
    outline: none;

 }

 .recipe-container-admin {
     display: grid;
     grid-template-columns: 0.1fr 1fr;
     gap: 20px;
 }

 .recipe-container-admin .recipe-info h3 {
     margin-top: 0;
 }

 .item_title {
    font-weight: bold;
}