
<div class="item_title"> Nome da receita </div>
<div class="item">
  <div>
    <input type="text" name="title" value="{{recipe.title}}">
  </div>
</div>

<div class="recipe_file">
  <div class="item_title">Imagem da receita</div>

  <div id="photo-add">

    <div id="photos-upload">
      <input 
        id="photos-input"
        type="file"
        name="photos"
        multiple
        accept="image/*"
        onchange="PhotosUpload.handleFileInput(event)"
      >
      <i class="material-icons">add</i>
    </div>

    <div id="photos-preview">
      {% if recipe.files %}
        {% for image in recipe.files %}
          <div class="photo" id={{image.id}}>
            <img src="{{image.src}}" alt="{{image.name}}">
            <i class="material-icons"
                onclick="PhotosUpload.removeOldPhoto(event)"
            >delete</i>
          </div>
        {% endfor %}
        <input type="hidden" name="removed_files">
      {% endif %}
    </div>

  </div>

</div>


<div class="item_title">Chef</div>
<div class="item">
  <div>
    <select name="chef" class="select-chef">
      {% for chef in chefsOptions %}
        <option value="{{chef.id}}"
        {% if recipe.chef_id == chef.id %} selected {% endif %} >
          {{chef.name}}
        </option>
      {% endfor %}
    </select>
  </div>
</div>

<div class="item_title">Ingredientes</div>
<div id="ingredients">

  {% if recipe.ingredients == False %}
    <div class="ingredient">
        <input type="text" name="ingredients[]" placeholder="Novo ingrediente"/>
    </div>
  {% endif %}
  {% for ingredient in recipe.ingredients %}
  <div class="ingredient">
      <input type="text" name="ingredients[]" value="{{ingredient}}" placeholder="Novo ingrediente"/>
  </div>
  {% endfor %}
</div>
<button type="button" class="add-ingredient">Adicionar novo ingrediente</button>
<button type="button" class="remove-ingredient">Remover um ingrediente</button>

<div class="item_title">Modo de preparo</div>
<div id="preparations">

  {% if recipe.preparation == False %}
    <div class="preparation">
        <input type="text" name="preparation[]" placeholder="Novo passo"/>
    </div>
  {% endif %}
  {% for preparation in recipe.preparation %}
  <div class="preparation">
      <input type="text" name="preparation[]" value="{{preparation}}" placeholder="Novo passo"/>
  </div>
  {% endfor %}
</div>
<button type="button" class="add-preparation">Adicionar novo passo</button>
<button type="button" class="remove-preparation">Remover um passo</button>



<div class="item_title">Informações adicionais</div>
<div class="item last-item">
    <div>
        <textarea name="information">{{recipe.information}}</textarea>
    </div>
</div>