{% extends "admin/layout.njk" %}

{% block title %}
    <title> Receitas </title>
{% endblock title %}

{% block content %}

    <section class="menu menu-admin">

        <h3>Gerenciar receitas</h3>
        <div class="menu-container-admin">

            {% for recipe in recipes %}    
            <div class="recipe-container-admin" id="">
                <div class="recipe-img-admin">
                    <img src="{{recipe.img}}" alt="{{recipe.title}}">
                </div>
                <div class="recipe-info" id="">
                    <h3 class="recipe-title">{{recipe.title}}</h3>
                    <p class="recipe-author">por {{recipe.chef_name}}</p>
                    <a class="button-visualizar" href="/admin/recipes/{{recipe.id}}"> Visualizar </a>
                </div>
            </div>    
            {% endfor %}
    
        </div>



    </section>

    <div class="pagination"
        data-page={{pagination.page}}
        data-total={{pagination.total}}
        data-filter={{filter}}
    ></div>

    <script src="/pagination.js"></script>
        
        
{% endblock content %}
