<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8">

        {% include "../../styles.njk"%}

        {% block title %}
        {% endblock title %}

    </head>

    <body>
        <header class="header-admin">
            <div class="header-admin-menu">
                <div class="logo-admin">
                    <a href="/admin/recipes"><img src="/images/logo-admin.png" alt="logo"></a>
                </div>
                <div class="header-links-admin"> 
                    <ul class="header-list-admin">
                        <li><a href="/admin/recipes">RECEITAS</a></li>
                        <li><a href="/admin/chefs">CHEFS</a></li>
                    </ul>
                </div>
            </div>
        </header>

        {% block content %}
        {% endblock content %}
    
        <script src="/scripts/scripts-admin.js"></script>

    </body>


</html>


            