{% extends "admin/recipes/layout.njk" %}

{% block title %}
    <title> Detalhes da Receita </title>
{% endblock title %}

{% block content %}


<div class="detail-container">

    <h3> Receita: {{recipe.title}} </h3>
    {% if ownUser or user.is_admin%}
    <a href="/admin/recipes/{{recipe.id}}/edit" class="buttons" id="button-edit">Editar receita</a>
    {% endif %}

    <div class="banner-detail">
        <div class="banner-image">
            <img src="{{files[0].src}}" alt="{{files[0].src}}.name">
        </div>

        <div class="gallery-preview">
           {% for image in files %}
                <img 
                    src="{{image.src}}" 
                    alt="{{image.name}}"
                    {% if loop.index0 == 0 %}
                    class="active"
                    {% endif %}
                    onclick="ImageGallery.setImage(event)"
                >
           {% endfor %}
       </div>

        <div class="banner-info">
            <h1>{{recipe.title}}</h1>
            <h2>por {{recipe.chef_name}}</h2>
        </div>
    </div>

    <div class="ingredients">
        <div class="title">
            <h3>{{titles.ingredients}}</h3>        
        </div>
        <ul class="ingredients-list">    
            {% for item in recipe.ingredients %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="preparations">
        <div class="title">
            <h3>{{titles.preparation}}</h3>        
        </div>
        <ul class="preparation-list">    
            {% for item in recipe.preparation %}
                <li>{{item}}</li>
            {% endfor %}
        </ul>
    </div>

    <div class="info">
        <div class="title">
            <h3>{{titles.information}}</h3>
        </div>
        <p class="information">{{recipe.information}}</p>
    </div>

</div>


<script>
    const ImageGallery = {

    highlight: document.querySelector('.banner-detail .banner-image > img'),
    previews: document.querySelectorAll('.gallery-preview img'),
    setImage(e) {
        const { target } = e

        ImageGallery.previews.forEach(preview => preview.classList.remove('active'))
        target.classList.add('active')

        ImageGallery.highlight.src = target.src
    }
}
</script>


{% endblock content %}